.card {
    align-items: center;
    background: turquoise;
    padding: 1em;
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    text-align: center;
    margin: auto;
    color: rgb(7, 4, 4);
    margin: auto;
    float: none;
    margin-bottom: 10px;
    font-style: 'Open sans', sans-serif;
}

body {
    display: flex;
    font-style: 'Eras bold';
    justify-content: center;
    align-items: center;
    background: blue;
    margin: 0%;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background: blue;
    background-image: url('https://www.pexels.com/photo/photo-of-trees-across-mountains-2693529');
    font-size: 130%;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}


button:hover{
    background: rgb(240, 233, 233);
}

input.search-bar:hover{
    background: white;
}

input.search-bar{
    border: none;
    outline: none;
    padding: 0.5em;
    border-radius: 40px;
    color: rgb(7, 7, 7);
    font-style: inherit;
    font-family: sans-serif;
    font-size: 100%;
    height: 25px;
    background: red;
    transition: 0.1s ease-in-out;
}

button{
    margin: 1em;
    border-radius: 10%;
    background: white;
    height: 30px;
    outline: 0em;
    width: 35px;
    border: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

h1{
    font-size: 40px;
    text-align: center;
    color: black;
    display: flex;
}

.description{
    text-transform: capitalize;
}

h1.temp{
    margin: 0%;
    margin-bottom: 1em;
    font-style: italic;
}